<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.jseckill.infrastructure.sk.db.dao.SkGoodsDao">

    <select id="page" resultType="com.example.jseckill.interfaces.operate.vo.SkGoodsVO">
        select a.* from t_sk_goods a
        <where>
            <if test="param != null and param.q != null and param.q!=''" >
                and (a.goods_name like CONCAT('%',#{param.q},'%'))
            </if>
            <if test="ew != null and ew.sqlSegment != null and ew.sqlSegment != ''" >
                and (${ew.sqlSegment})
            </if>
        </where>
    </select>

    <update id="subStock">
        update t_sk_goods a
        <set>
            a.stock_num = a.stock_num - #{deltaStock}
        </set>
        <where>
            a.id = #{id}
            and a.stock_num > 0
        </where>
    </update>

    <update id="loadCacheStock">
        update t_sk_goods a
        <set>
            a.stock_num = #{cacheStock}
        </set>
        <where>
            a.id = #{id}
        </where>
    </update>
</mapper>
