<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.jseckill.infrastructure.sk.db.dao.SkGoodsDao">

    <update id="subStock">
        update t_sk_goods t1
        <set>
            t1.stock_num = t1.stock_num - #{deltaStock}
        </set>
        <where>
            t1.id = #{id}
            and t1.stock_num > 0
        </where>
    </update>
</mapper>
