<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.jseckill.infrastructure.sk.db.dao.SkOrderDao">

    <update id="updateOrderStatus">
        update t_sk_order a
        <set>
            a.order_status = #{orderStatus}
        </set>
        <where>
            a.id = #{id} and a.order_status = #{oldOrderStatus}
        </where>
    </update>

    <update id="updateConfirmPayInfo">
        update t_sk_order a
        <set>
            a.pay_method = #{payMethod},
            a.pay_money = #{payMoney},
            a.order_status = 1
        </set>
        <where>
            a.id = #{id} and a.order_status = 0
        </where>
    </update>

    <update id="updatePaySuccess">
        update t_sk_order a
        <set>
            a.pay_time = #{payTime},
            a.pay_transaction_id = #{payTransactionId},
            a.order_status = 2
        </set>
        <where>
            a.order_no = #{orderNo} and a.order_status = 1
        </where>
    </update>
</mapper>
